<!-- Loop over each object in the projects array -->
<header>
  <h1>Recent Blogs</h1>
</header>
{{#each Blog as |Blog| }}
<div class="row mb-4 project">
  <div class="col-md-5">
    <h2>
      <!-- Call helper function with triple brackets to render the emoji span as HTML -->
      {{{get_emoji}}}
      <a href="/Blog/{{Blog.id}}">{{Blog.name}}</a>
    </h2>
    <p>Created by {{Blog.user.name}} on {{format_date project.date_created}}</p>
  </div>
  <div class="col-md-7">
    <p>
      {{Blog.description}}
    </p>
  </div>
</div>
{{/each}}
